# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar

# makina-states mysql configuration (copy in your pillar, 
#                                    uncomment and edit)
# makina-states.services.db.mysql.available_mem: 1500
# corpus mysql project configuration
makina-projects.projectname:
  data:
    mail: sysadmin@foo.com
    cron_periodicity: "*/30 * * * *"
    domain: "{fqdn}"
    password: "secret"
    databases:
      - db1:
          password: "{password}"
          user: db1
    http_users:
      - root: secret
    keep_days: '2'
    keep_lasts: '2'
    keep_monthes: '0'
    keep_weeks: '0'
    keep_logs: '7'
# vim:set ft=yaml:
